<h2>Full List of Groups:</h2>

<% @groups.each do |group| %>
  <p><%= group.name %></p>
  <p><%= group.group_type %></p>
  <p><%= group.description %></p>
  <p><%= group.field_id_1 %></p>
  <p><%= group.field_id_2 %></p>
  <p><%= group.field_id_3 %></p>
  <hr>
<% end %>

<div><%= link_to "Add New Group", "/groups/new", method: :get %></div>

<div><%= link_to "Sign Out", "/users/sign_out", method: :delete %></div>


<div class="container">
  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= message %>
    </div>
  <% end %>
</div>