<% @fields.each do |field| %>
  <h3><%= field.name %></h3>
  <p><%= field.intersection %></p>
  <p><%= field.street_number %></p>
  <p><%= field.street_address %></p>
  <p><%= field.city %></p>
  <p><%= field.state %></p>
  <p><%= field.zip_code %></p>
  <p>&nbsp</p>
<% end %>